*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
:root {
    --background-color:#FAFBFE;
    --lowText_font_size: 15px;
    --text_size_title: 40px;
    --text_title_card:24px;
    --text_title_card2:20px;
    --text_paragraph:16px;
    --box_shadow-primary: 0px 6px 50px -20px rgba(0,0,0,0.2);

}
header{
    background: #fff;
    width: 100%;
    height: 100px;
    position: fixed;
    z-index: 100;
   
}

.container__header{
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}
.logo{
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
}

.logo img{
    width: 220px;
}

.menu{
    
    display: flex;
    align-items: center;
}

.menu nav{
    
    margin: 0px 20px;
}

.menu nav ul{
    display: flex;
}

.menu nav ul li{
    list-style: none;
    margin: 20px 16px;
}

.menu nav ul li a{
    margin-left: 20px;
    color: black;
    font-size: var(--lowText_font_size);
    position: relative;
}


.menu nav ul li a:hover{
    color:#e4a827;
}

.btn__cs{
    color: black;
    display: block;
    padding: 5px 40px;
    border: 2px solid  #e4a827;
    border-radius: 8px;
    font-weight: 500;
    margin: 0px 20px;
    transition: all 400ms;

}
.btn__cs:hover{
    color:#fff;
    background: #2b2b2b;
}

.menu .socialmedia{
    margin: 0px 10px;
}
.menu .socialmedia a{
    margin: 0px 4px;
}


.menu .socialmedia img{
    width: 20px;
}

/*Portada*/

.container__cover{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #ffffff;
}

.cover{
    max-width: 1200px;
    margin: auto;
    margin-top: 70px;
    display: flex;
    align-items: center;
    padding: 0px 20px;
}

.text__cover{
    width: 100%;
    padding-right: 250px;
}

.text__cover h1{

    font-size: 30px;
    color: black;

}

.text__cover p{
    font-size: var(--text_paragraph);
    margin-top: 30px;
    color:#2b2b2b;

}

.btn__text{
    display: block;
    width: 150px;
    margin-top: 40px;
    padding: 10px 20px;
    text-align: center;
    font-weight: 500;
    color: #2b2b2b;
    border-radius: 8px;
    border: 2px solid #e4a827;
    background: transparent;
    cursor: pointer;
    transition: all 400ms;
}
.btn__text:hover{
    background-color: #2b2b2b;
    color: #fff;
}

.image__cover{

    width: 100%;

}

.image__cover img{
    width: 450px;
}


/*Estilos cartas*/

.container__card-primary{
    padding-top: 100px;
    
}
.card__primary{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 20px;
    
}

.text__card-primary{

    max-width: 800px;
    margin: auto;

}

.text__card-primary p{
    color: #2b2b2b;
    letter-spacing: 4px;
    font-size: var(--text_paragraph);
    font-weight: 500;
}

.text__card-primary h1{
    font-size: var(--text_size_title);
    font-weight: 600;
    color: #2b2b2b;
}


.container__box-cardPrimary{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
}

.box__card-primary{
    max-width: 350px;
    padding: 60px 30px;
    border: 1px solid #e6e6e6;
    border-radius: 20px;
    margin: 14px;
    transition: all 350ms;
}

.box__card-primary:hover{
    border: 1px solid #e4a827;
    box-shadow: var(--box_shadow-primary);
}

.box__card-primary h2{

    font-size: var(--text_title_card);
    margin-top: 40px;
    font-weight: 500;
}

.box__card-primary p{
    margin-top: 20px;

}

.box__card-primary img{
    width: 290px;
    border-radius: 20px;
}
.box__card-primary #im3{
   height: 195px;
}

.btn__cards{
    display: block;
    width: 200px;
    margin-top: 40px;
    padding: 10px 20px;
    text-align: center;
    font-weight: 500;
    color: #2b2b2b;
    border-radius: 8px;
    border: 2px solid #e4a827;
    background: transparent;
    cursor: pointer;
    transition: all 400ms;
    margin-left: 580px;
    
}

.btn__cards:hover{
    background-color: #2b2b2b;
    color: #fff;
}

.btn__cat{
    max-width: 1200px;
}

/*Reservacion*/

.container__resv{
    padding: 100px 0px;
    background-color: #e6e6e6;
    margin-top: 100px;
}

.resv{
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;
}

.text__resv{
    width: 100%;
    padding-right: 40px;

}

.text__resv h1{

    color: black;
    font-weight: 600;
}

.text__resv p{

    font-size: var(--text_paragraph);
    color: #2b2b2b;
    margin-top: 40px;
}
.img__resv{

    width: 100%;
    display: flex;

}

.img__resv img{
   
    width: 300px;
    margin-left: 40px;
    border-radius: 30px;

}

/*contratacion*/

.container__un{
    padding: 100px 0px;
    margin-top: 90px;
}

.un{
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;
}

.img__un{
    width: 100%;
    display: flex;
}

.img__un img{
    width: 400px;
    margin-left: 40px;
    border-radius: 30px;
}

.text__un{
    width: 100%;
    padding-right: 40px;

}

.text__un h1{
    text-align: center;
    color: black;
    font-weight: 600;
}

.text__un p{
    text-align: center;
    font-size: var(--text_paragraph);
    color: #2b2b2b;
    margin-top: 40px;
}

.btn__un{
    display: block;
    width: 150px;
    margin-top: 40px;
    padding: 10px 20px;
    text-align: center;
    font-weight: 500;
    color: #2b2b2b;
    border-radius: 8px;
    border: 2px solid #e4a827;
    background: transparent;
    cursor: pointer;
    transition: all 400ms;
    margin-left: 190px;
}
.btn__un:hover{
    background-color: #2b2b2b;
    color: #fff;
}

.container__contac{
    padding: 100px 0px;
    background-color: #e6e6e6;
    margin-top: 90px;
}

.contact{
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;
}

.text__contac{
    width: 100%;
    padding-right: 40px;

}

.text__contac h1{
    text-align: center;
    color: black;
    font-weight: 600;
}

.text__contac p{
    text-align: center;
    font-size: var(--text_paragraph);
    color: #2b2b2b;
    margin-top: 40px;
}

.text__contac img{
    width: 20px;
    justify-content: center;
    margin-left: 10px;
}

.map__contact{

    width: 100%;
    display: flex;

}

.pies{
    clear: both;
    padding: 20px;
    background-color: #ffffff;
    color: #2b2b2b;
    text-align: center;
}

@media screen and (max-width:850px){

    .image__cover img{
        width: 250px;
    }

    .cover{
        max-width: 850px;
        margin: auto;
        margin-top: 70px;
        display: flex;
        align-items: center;
        padding: 0px px;
    }
    .text__cover{
        width: 100%;
        padding-right: 50px;
    }

    .btn__cards{
        display: block;
        width: 150px;
        margin-top: 40px;
        padding: 0px 20px;
        margin-left: 170px;
        
    }

    .resv{
        max-width: 1200px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px 20px;
    }
    .resv{
        max-width: 850px;
        margin: auto;
        display: flex;
        align-items:center;
        justify-content:center;
        padding: 0px 110px;
    }
    .text__resv{
        width: 90%;
        padding-right: 10px;
    }

    .img__resv{

        width: 100%;
        display: block;
    
    }
    
    .img__resv img{
       
        width: 200px;
        border-radius: 30px;
    
    }

    .un{
        max-width: 850px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px 60px;
    }
    
    .img__un{
        display:none;
    }
    
    
    .text__un{
        width: 100%;
    
    }
    .container__un{
        margin-top: 0px;
    }
    
    
    .btn__un{
        display: block;
        width: 80px;
        margin-top: 40px;
        padding: 10px 20px;
        margin-left: 120px;
    }

    .container__contac{
        margin-top: 10px;
    }
    
    .contact{
        max-width: 850px;
        margin: auto;
        display:block;
        align-items: center;
        justify-content: center;
        padding: 0px 20px;
        margin-left: 0px;
    }
    
    .text__contac{
        width: 100%;
        padding-right: 0px;
    
    }
    .text__contac p{
        text-align: center;
        font-size: var(--text_paragraph);
        color: #2b2b2b;
        margin-top: 30px;
    }
    
    .text__contac img{
        width: 20px;
        justify-content: center;
        margin-left: 10px;
    }
    
    .map__contact{
        margin-top: 40px;
        width: 100%;
        display: flex;
        
    }

    .header{
        background: #fff;
        width: 100%;
        height: 150px;
        position: fixed;
        z-index: 100;
       
    }
    
    .container__header{
        max-width: 850px;
        height: 100%;
       display: block;
       margin-top: -65px;
       
    }
    
    
    .logo img{
        margin-left: 150px;
        width: 170px;
        margin-bottom: -40px;
        
    }
    
    
    
    .menu nav{
        margin: 0px 0px;
    }
    
    .menu nav ul{
        display: flex;
    }
    
    .menu nav ul li{
        list-style: none;
        margin: 10px 16px;
        font-size: 10px;
    }
    
    .menu nav ul li a{
        margin-left: -20px;
    }
    
    
    .btn__cs{
        display: block;
        width: 100px;
        margin-top:10px;
        padding: 0px 0px;
        margin-left: 20px;
        font-weight: 500;
        font-size: 12px;
        text-align: center;
    
    }
    .menu .socialmedia{
        margin: 0px 0px;
    }
    .menu .socialmedia a{
        margin: 0px 0px;
    }
    
    
    .menu .socialmedia img{
        width: 10px;
    }
    


}